#pic {
  width: 100%;
  height: auto;
}

.container-1 {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 80%;
  border: 2px solid white;
}
