#pic {
  width: 100%;
  height: auto;
}

.container-1 {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 80%;
  border: 2px solid white;
}

.jumbotron {
  padding-bottom: 1rem;
}

.bi,
.bi-github {
  margin: 10px 10px;
}

.card-subtitle {
  font-size: 15px;
  line-height: 22px;
}

.columns {
  margin-top: 2rem;
}

.column1 {
  float: left;
  width: 300px;
  padding: 15px;
  margin-right: 100px;
  border-radius: 5px;
  border: 2px solid black;
}
.column2 {
  float: left;
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid black;
}
