body {
  background: linear-gradient(
    to right,
    rgba(39, 42, 48, 0.9),
    rgba(120, 72, 168, 0.9)
  );
}

#pic {
  width: 100%;
  height: auto;
}

a {
  color:#bbeaf9;
}

.container-1 {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 80%;
  border: 2px solid white;
}

.jumbotron {
  padding-bottom: 1rem;
  background: linear-gradient(
    to left,
    rgba(107, 135, 191, 0.9),
    rgba(120, 72, 168, 0.9)
  );
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto Slab', serif;
}

.card {
  background: linear-gradient(
    to left,
    rgba(107, 135, 191, 0.9),
    rgba(120, 72, 168, 0.9)
  );
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
}

.card-title {
  font-family: 'Roboto Slab', serif;
}

.card-text {
  color: #cf91f8;
}

.about {
  font-family: 'Roboto Slab', serif;
}

.card-date {
  color: rgb(93, 168, 239);
  
}

.bi,
.bi-github {
  margin: 10px 10px;
}

.card-subtitle {
  font-size: 15px;
  line-height: 22px;
}

.card-subtitle1 {
  font-size: 15px;
  line-height: 22px;
  color: #cf91f8;
  font-family: 'Roboto', sans-serif;
}

.columns {
  margin-top: 2rem;
}

.column1 {
  float: left;
  width: 300px;
  padding: 15px;
  margin-right: 2rem;
  border-radius: 5px;
}
.column2 {
  float: left;
  width: 300px;
  padding: 15px;
  border-radius: 5px;
}
